
body {
	font-family: 'Roboto', 'sans-serif';
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

header {
    display: flex;
    flex-direction: row;
	align-items: center;
	background-color: lightseagreen;
	color: whitesmoke;
	padding: 10px;
    margin: 10px;
}

.header-left img {
    max-height: 100%;
    max-width: 100%;
    margin-right: 10px;
}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.header-right h1 {
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}

.informacion-de-contacto {
    display: flex;
    flex-direction: column;
    text-align: left; 
    margin: 0px;
    padding: 10px;   
}

.header-right p {
	font-size: 15px;
    margin-bottom: 0px;
}

img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 10px;
}

h1, h2, h3 {
	margin-top: 0;
}

p, li, ul {
	text-align: justify;
    font-size: 12px;
}

main {
	padding: 20px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
    margin-top: 10px;
	margin-bottom: 10px;
}

section:not(:last-child) {
	margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
	main {
		display: flex;
		flex-wrap: wrap;
	}
	
	section {
		flex: 1;
		margin-right: 40px;
	}
	
	section:last-child {
		margin-right: 0;
	}
}

/** Esto es una prueba de otro formato
body {
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: row;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	width: 200px;
	height: 100vh;
}

img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 10px;
}

main {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

section {
	margin-bottom: 30px;
}

/* Estilos adicionales para el encabezado y el contenido principal */

